.MuiClock-clock {
    background-color: rgb(0 0 0 / 16%) !important;
}

.MuiClock-pin {
    background-color: black !important;
}

.MuiClockPointer-root {
    background-color: black !important;
}

.MuiClockPointer-thumb {
    background-color: black !important;
    border: 16px solid black !important;
    /* border: !important; */
}

.MuiTimeClock-root {
    width: 255px !important;
}

.MuiClock-root {
    margin: 0 !important;
}